<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>
    <div th:fragment="topbar">
        <!-- Fixed navbar -->
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/home">VideoClub UPM</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li th:classappend="${#httpServletRequest.requestURI == '/home'}? active: ''">
                            <a th:href="@{/home}">
                                <span class="glyphicon glyphicon-home"></span>
                                Inicio
                            </a>
                        </li>
                        <li sec:authorize="hasAuthority('ROLE_ADMIN')" th:classappend="${#httpServletRequest.requestURI == '/admin/users'}? active: ''">
                            <a th:href="@{/admin/users}">
                                <span class="glyphicon glyphicon-user"></span>
                                Administrar Usuarios
                            </a>
                        </li>
                        <li sec:authorize="hasAuthority('ROLE_ADMIN')" th:classappend="${#httpServletRequest.requestURI == '/admin/movies'}? active: ''">
                            <a th:href="@{/admin/movies}">
                                <span class="glyphicon glyphicon-film"></span>
                                Administrar Películas
                            </a>
                        </li>

                    </ul>
                    <div class="col-sm-3 col-md-3">
                        <form class="navbar-form" role="search" method="get" th:action="@{/buscar}">
                            <div class="input-group">
                                <input type="text" class="form-control" name="search" placeholder="Buscar película.." user="q">
                                <div class="input-group-btn">
                                    <button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">
                                <span th:text="${user}">Usuario</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/info">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                         Mi Cuenta
                                    </a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="/logout">
                                        <span class="glyphicon glyphicon-off"></span>
                                         Cerrar Sesión
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
    </div>

    <div th:fragment="footer">
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <div class="navbar navbar-fixed-bottom">
            <footer>
                <p class="pull-right" style="padding-right: 10px;">&copy; Chica Sergio &amp; Jim&eacute;nez Roberto, DAW 2017</p>
            </footer>
        </div>
    </div>
</body>

</html>