<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: header">
    </head>

    <body>
        <div th:replace="fragments/body :: topbar"></div>
        <div class="container">
            <h1 class="text-center"> Información sobre su cuenta</h1>
            <br>
            <br>
            <div class = "row">
                <img width="100px" height="100px" th:src="${userObj.picture}" class="center-block" alt="Imagen de perfil">
            </div>
            <br>
            <div class = "row">
                <div class = "col-md-4"></div>
                <div class = "col-md-2"><strong>Nombre: </strong></div>
                <div class = "col-md-2" th:text="${userObj.given_name}">Nombre</div>
            </div>
            <br>
            <div class = "row">
                <div class = "col-md-4"></div>
                <div class = "col-md-2"><strong>Apellido: </strong></div>
                <div class = "col-md-2" th:text="${userObj.family_name}">Apellido</div>
            </div>
            <br>
            <div class = "row">
                <div class = "col-md-4"></div>
                <div class = "col-md-2"><strong>Perfil: </strong></div>
                <a class = "col-md-2" th:href="${userObj.profile}" th:text="${userObj.profile}">Perfil</a>
            </div>
            <br>
            <br>
            <div class="container text-center">
                <a href="/home" text-align="center">
                    <button type="button" class="btn btn-lg btn-primary">Volver</button>
                </a>
            </div>
        </div>
        <div th:replace="fragments/body :: footer"></div>
    </body>
</html>